html
	head
		title form data
		meta(name='viewport', content='width=device-width, initial-scale=1')
		style.
			body {font-family: Arial, Helvetica, sans-serif;}
			form {border: 3px solid #eff1f7;width: 50%;margin: 0 auto;}
			input[type=text], input[type=number] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;
			}
			button {
			background-color: #4CAF50;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: 100%;
			}
			button:hover {
			opacity: 0.8;
			}
			.container {
			padding: 16px;
			}
	body
		h1(font align='center', style='color:green') NEW USER SIGNUP
		form(action="/signup" method="POST")
			div
				label(for="id") 
					b USER ID:
				br
				input(name = "name" type="text")
			br
			div
				label(for="password")
					b DESCRIPTION:
				br
				input(name="description" type="password")
			br
			div
			button(type="submit") SIGN UP