html
	head
		title Person Details
	body
	if(type == "error")
		script.
			var msgStr = !{JSON.stringify(message)}
			alert(msgStr)
			window.location.href ="http://localhost:8080/worksheet/"
	else
		script.
			var name=!{JSON.stringify(worksheet.name)}
			var description=!{JSON.stringify(worksheet.description)}
			alert("New person name:    " +	name	+ "   and description:     "+	description	+"   Added! ")
			window.location.href ="http://localhost:8080/worksheet/"